/* show the video over the map */
/* Overlay Background */
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-card {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 90%;
  max-width: 600px;
  text-align: center;
  z-index: 10000;
}

/* Video Content */
.video-content {
  width: 100%;
  border-radius: 8px;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button:hover {
  background: #d32f2f;
}

/* Main Content */
.main-content {
  padding: 2rem;
  text-align: center;
}
/* General Layout */
.map-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.map-header .back-btn {
  cursor: pointer;
}
.add-field .map-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Search Bar */
.search-bar {
  position: relative;
  transform: translateX(0);
  z-index: 1000;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 8px 16px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #333;
  font-size: 1rem;
  padding: 4px;
}
.search-bar input::placeholder {
  color: #aaa;
}

/* Map Controls */
.map-controls {
  position: absolute;
  bottom: 20px;
  right: -5%;
  bottom: 20%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
}

.map-controls button {
  padding: 15px 15px;
  background-color: #075a53;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.map-controls button:hover {
  background-color: #075a53;
}

.create-farm-container {
  position: absolute;
  bottom: 20px;
  width: 30%;
  height: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.create-farm-container button {
  background-color: #075a53;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  width: 50%;
  border-radius: 8px;
}
/* Media Queries */
@media (max-width: 768px) {
  .map-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .map-header {
    position: absolute;
    top: 0;
    width: 95%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .add-field .map-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .map-container {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Search Bar */
  .search-bar {
    position: relative;
    transform: translateX(0);
    z-index: 1000;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 8px 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    font-size: 1rem;
    padding: 4px;
  }
  .search-bar input::placeholder {
    color: #aaa;
  }

  .map-controls {
    flex-direction: column;
    gap: 5px;
  }
  .create-farm-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
  }
  .create-farm-container button {
    background-color: #075a53;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    width: 90%;
    border-radius: 8px;
    font-size: 1.2rem;
  }
}
