.bottom-navigation-container {
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 100%;
}
.bottom-navigation-container img {
  width: 100%;
  position: absolute;
  z-index: -10;
  bottom: 0;
  left: 0;
  right: 0;
}
.bottom-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.9rem;
}

.nav-item p {
  margin: 0;
  font-size: 0.8rem;
}

.nav-item .icon {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.central-button {
  position: relative;
  margin-top: -2rem;
  text-align: center;
}

.central-button .circle span {
  margin-left: 1rem;
  margin-bottom: 5rem;
}

.central-button p {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .bottom-navigation {
    padding: 0.5rem;
  }

  .nav-item p {
    font-size: 0.7rem;
  }

  .nav-item .icon {
    font-size: 1.2rem;
  }
}
