.weather-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-card {
  background: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 87%;
  max-width: 400px;
  height: a;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 9rem;
}

.weather-details .detail p {
  color: #9a9898;
  font-size: 0.5rem;
}
.weather-details .detail small {
  color: #075a53;
  font-family: 0.9rem;
  font-weight: 300;
}
.sun-timing p {
  color: #075a53;
  font-weight: 600;
}
.sun-timing small {
  color: #9a9898;
  font-weight: 300;
}
.location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.location h5 {
  font-size: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.location p {
  font-size: 0.9rem;
  color: #555;
  margin: 0.2rem 0 0;
}
.temperature {
  display: flex;
}
.temperature strong {
  font-size: 1.5rem;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail {
  text-align: center;
  flex: 1 0 22%;
  margin-bottom: 1rem;
}

.detail p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #333;
}

.detail small {
  font-size: 0.8rem;
  color: #777;
}

.sun-timing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.sun-timing div {
  text-align: center;
}

@media (min-width: 768px) {
  .weather-card {
    width: 100% !important;
    max-width: 600px;
    padding: 1rem 1rem;
  }

  .temperature strong {
    font-size: 2rem;
  }

  .detail p {
    font-size: 1.2rem;
  }
}
