.farm-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.farm-details .farm-details-body {
  margin-top: 4rem;
  width: 100%;
}

@media (max-width: 768px) {
  .section-heading {
    font-size: 1.3rem;
    font-weight: 600;
    color: #075a53;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  .soil-health-heading {
    font-size: 1.3rem;
    font-weight: 600;
    color: #075a53;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  .farm-details .farm-details-body {
    margin-bottom: 5rem;
  }
}
