.my-fields-header-container {
  width: 100%;
  height: auto;
  background-color: #075a53;
  margin: 0;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.my-fields-header-container .heading {
  color: white;
  margin-left: 9rem;
  font-weight: 600;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .my-fields-header-container {
    width: 90%;
    height: auto;
    background-color: #075a53;
    margin: 0;
    padding: 20px 20px;
    display: flex;
    align-items: center;
  }
}
